<template>
  <v-container
    id="regular-tables"
    fluid
    tag="section"
  >

    <base-material-card
      icon="mdi-clipboard-text"
      title="Datos Descargables"
      class="px-5 py-3"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Tipo
            </th>
            <th class="primary--text">
              Detalle
            </th>
            <th>
              Descargar
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Pais</td>
            <td>Datos Historicos</td>
            <td>
<v-btn
              color="success"
              rounded
              class="mr-0"
            >Descargar
            </v-btn>
                        </td>
          </tr>

          <tr>
            <td>Provincias</td>
            <td>Datos Historicos</td>
             <td>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >Descargar
            </v-btn>
            </td>
          </tr>

          <tr>
            <td>Departamentos</td>
            <td>Datos Historicos</td>
            <td>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >Descargar
            </v-btn>
            </td>
          </tr>

           <tr>
            <td>Pais</td>
            <td>Series históricas homicidios dolosos</td>
            <td>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >Descargar
            </v-btn>
            </td>
          </tr>

          <tr>
            <td>Pais</td>
            <td>Series históricas amenazas</td>
             <td>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >Descargar
            </v-btn>
            </td>
          </tr>

          <tr>
            <td>Pais</td>
            <td>Series históricas robos y tentativas de robo</td>
            <td>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >Descargar
            </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>
  </v-container>
</template>
