<template>
  <v-container
    id="google-maps"
    fluid
    tag="section"
  >
    <v-row>
      <v-col
        cols="12"
        md="4"
      >
        <base-material-card
          class="v-card-profile"
          avatar="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
        >
          <v-card-text class="text-center">
            <h6 class="text-h4 mb-1 grey--text">
            </h6>

            <h4 class="text-h3 font-weight-light mb-3 black--text">
              Informes del Sistema Nacional de Información Criminal
            </h4>

            <p class="font-weight-light grey--text">
              Informes sobre el Sistema Nacional De informacion Criminal Detallado por año.
            </p>

            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              2017
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              2018
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              2019
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              2020
            </v-btn>
          </v-card-text>
        </base-material-card>
      </v-col>
         <v-col
        cols="12"
        md="4"
      >
        <base-material-card
          class="v-card-profile"
          avatar="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
        >
          <v-card-text class="text-center">
            <h6 class="text-h4 mb-1 grey--text">
            </h6>

            <h4 class="text-h3 font-weight-light mb-3 black--text">
              Series Históricas
            </h4>

            <p class="font-weight-light grey--text">
              Informes Historicos.
            </p>

            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              HOMICIDIOS DOLOSOS 2001 al 2018
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              AMENAZAS 2001 al 2018
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
               LESIONES DOLOSAS 2001 al 2018
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              2020
            </v-btn>
          </v-card-text>
        </base-material-card>
         </v-col>
         <v-col
        cols="12"
        md="4"
      >
        <base-material-card
          class="v-card-profile"
          avatar="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
        >
          <v-card-text class="text-center">
            <h6 class="text-h4 mb-1 grey--text">
            </h6>

            <h4 class="text-h3 font-weight-light mb-3 black--text">
              Informes Especiales
            </h4>

            <p class="font-weight-light grey--text">
              Informes Especiales.
            </p>

            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              Femicidios 2018
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              Femicidios 2019
            </v-btn>
            <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              Violencias extremas y <br>muertes violentas de mujeres (2017-2019)
            </v-btn>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>
