<template>
  <v-container
    id="google-maps"
    fluid
    tag="section"
  >
    <v-row>
      <v-col
        cols="12"
        md="12"
      >
        <base-material-card
          class="v-card-profile"
          avatar="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
        >
          <v-card-text class="text-center">
            <h6 class="text-h4 mb-1 grey--text">
            </h6>

            <h4 class="text-h3 font-weight-light mb-3 black--text">
              Como intrepretar los datos en el mapa
            </h4>

            <p class="font-weight-light grey--text">
              Video Tutorial sobre como utilizar el mapa y sus diferentes funciones
            </p>
           <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/nPdezSvslr4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            >
            </iframe>
            <!-- <v-btn
              color="success"
              rounded
              class="mr-0"
            >
              Ver Video
            </v-btn> -->
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>
